/* Forms.css */

body {
  background-color: #e8fb17; /* Choose your desired background color */
}

.forms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forms-box {
  background-color: #f3e4e4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.forms-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.forms-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forms-button {
  width: 100%;
  padding: 10px;
  background-color: #f60a0a;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.forms-button:hover {
  background-color: #0056b3;
}

/* Additional styles for the SignUp form */
.forms-box .signup-message {
  text-align: center;
  margin-top: 10px;
}

.forms-box .signup-link {
  color: #007bff;
  cursor: pointer;
}

.forms-box .signup-link:hover {
  text-decoration: underline;
}
/* Styles for the marquee tag */
marquee {
  font-size: 34px; /* Increase the size of the text */
  color: #3c14f1; /* Change the color of the text */
  background-color: #15a9e8;
}
